/* body styling */
body{
    background-color: #ffffff;
}

/* header styling */
.header-container {
    border-style: solid;
    border-color: black;
    background-color: #939ca2;
    border-radius: 20px;
}

#promo-image{
    position: relative;
    top: 120px; left: 20%;
    border-style: solid;
    border-color: #083061;
}

h1{
    display: flex;
    justify-content: center;
    color: #083061;
}

h2{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
}

/* agenda styling */
.agenda-container{
    border-style: dotted;
    border-color: #0921e5;
    border-width: 3px;
    border-radius: 50px;
    background-color: #939ca2;
    padding-top: 20px; padding-bottom: 20px;
}

#agenda-list-entry{
    display: inline;
    padding: 4px;
}

#agenda-text{
    display: flex;
    justify-content: center;
}

/* main top row styling */
.main-top-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 30px;
}

/* main top row container styling */
.coaching-section,
.detail-section,
.team-captains-section{
    border-style: solid;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding-left: 15px; padding-right: 15px;
    padding-top: 0px; padding-bottom: 10px;
    margin: auto;
    
}

#mike-image{
    border-style: solid;
    max-width: 100%;
    height: auto;
}

#dak-image{
    border-style: solid;
    max-width: 100%;
    height: auto;
}

#video-container{
    border-style: solid;
    max-width: 100%;
    height: auto;
}

#trash-talk-text{
    text-align: center;
}

/* main bottom row styling */
.main-bottom-row{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

/* main bottom row container styling */
.offense-section,
.defense-section,
.special-teams-section{
    border-style: solid;
    border-radius: 10px;
    width: fit-content;
    max-width: 20%;
    height: fit-content;
    max-height: 100%;
    padding: 0px 15px 10px 15px;        /* margin shorthand: <top> <right> <bottom> <left> */
    margin: 10px 40px 10px 40px;         /* padding shorthand: <top> <right> <bottom> <left> */
    
}

/* form container styling */
.form-container{
    border-style: solid;
    border-radius: 10px;
    width: fit-content;
    padding-left: 15px; padding-right: 15px;
    padding-top: 0px; padding-bottom: 10px;
    margin-left: 10px; margin-right: 10px;
    margin-top: 10px; margin-bottom: 0px;
    
}